services:
  wireguard:
    container_name: Z3nNet-wireguard
    image: linuxserver/wireguard
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Madrid
      - SERVERURL=midominio.com
      - SERVERPORT=51820
      - PEERS=3
      - PEERDNS=5.0.0.2
      - INTERNAL_SUBNET=55.0.0.0
      - ALLOWEDIPS=0.0.0.0/0, ::/0
    volumes:
      - ./wireguard/config:/config
      - /lib/modules:/lib/modules:ro
    ports:
      - 51820:51820/udp
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    networks:
      vpnnet:
        ipv4_address: 5.0.0.3

  adguard:
    container_name: Z3nNet-adguard
    image: adguard/adguardhome
    restart: unless-stopped
    hostname: adguard
    dns:
      - 127.0.0.1
      - 1.1.1.1 # Points to unbound
    environment:
      TZ: "Europe/London"
      WEBPASSWORD: "" # B lank password - Can be whatever you want.
      ServerIP: 5.0.0.1 # Internal IP of pihole
      DNS1: 1.1.1.1 # Unbound IP
      DNS2: 1.1.1.1 # If we don't specify two, it will auto pick google.
    ports:
      # 53:53/tcp
      # 53:53/udp
      - 8443:443
      - 8081:80
      - 3000:3000/tcp
    volumes:
      - ./adguard/work:/opt/adguardhome/work
      - ./adguard/conf:/opt/adguardhome/conf
    networks:
      vpnnet:
        ipv4_address: 5.0.0.2
    depends_on: [wireguard]


  nginx:
    container_name: Z3nNet-Nginx
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - 81:80
      - 444:443
    volumes:
      - ./nginx/config:/etc/nginx/conf.d
      - ./nginx/web-sites:/usr/share/nginx/html
    networks:
      vpnnet:
        ipv4_address: 5.0.0.4

networks:
  vpnnet:
    driver: bridge
    ipam:
      config:
        - subnet: 5.0.0.0/24
